body{
    margin-top: 10em;
}
.imageApropos{
    background: linear-gradient(0.25turn,#FFFF00,#FFCE31);
    box-sizing: border-box;
    position: relative;
    padding: 200px;
    margin-top: -9em;

}
.imageApropos:after{
     content: "";
     background-image: url("../../Images/001_002.jpg");
     background-position: center;
     background-size: 100%;
     background-repeat: no-repeat;
     opacity: 0.5;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
}
.description{
    border: 10em solid white;
    border-radius: 2rem;
    text-align: center;
    margin: 0 auto;
}
.textApropos{
    font-family: var(--PrimaryFamilySecondary);
    background-color: white;
    font-size: var(--PrimaryTailleTexte);
}